<div class="flex grow flex-col items-center justify-center text-center">
  <h1 class="text-6xl font-light tracking-widest">Welcome to the home page!</h1>
  <p class="text-xl mt-10">
    <%= link_to "View our products!", products_path, class: "hover:underline" %>
  </p>
<div>
