<%= turbo_frame_tag dom_id(product, :stock) do %>
  <span class="<%= product.in_stock ? "text-green-600" : "text-red-600" %>">
    <%= product.in_stock ? "#{product.amount} in stock" : "OUT OF STOCK" %>
  </span>
<% end %>