<div class="content grid grid-cols-4 gap-4">
  <% if @products.empty? %>
    <span class="col-span-2">No products found. Try another search or add products to database.</span>
  <% else %>
    <% @products.each do |product| %>
      <% in_stock = product.amount.to_i > 0 %>
      <%# This is where the card partial would go %>
      <%= render partial: 'card', locals: { product: product, in_stock: in_stock } %>
    <% end %>
  <% end %>
</div>
