<div class="flex flex-col">
    <% if @products.empty? %>
    <div class="content grid grid-cols-4 gap-4 min-h-[60vh]">
      <span class="col-span-2">No products found. Try another search or add products to database.</span>
    </div>
    <% else %>
      <%= turbo_frame_tag "products-grid", class: "content grid grid-cols-4 gap-4 min-h-[60vh]" do %>
        <%= render partial: 'card', collection: @products, as: :product %>
      <% end %>
    <% end %>

  <div class="mt-8 col-span-4 flex justify-center">
    <%= render_load_more(@pagy)%>
  </div>
</div>
