<footer class="items-center font-light text-xs bg-gray-500 text-gray-50 absolute bottom-0 w-full px-10 py-1">
  <div class="flex justify-evenly">
      <p>Do not use for educational or teaching purposes from which you intend to profit. All other uses are fine.</p>
      <p>Copyright &copy; 2025 | Carter Boyle</p>
  </div>
</footer>