<footer class="mt-auto w-full text-center text-xs font-light bg-gray-500 text-gray-50 px-10 py-1">
  <div class="flex justify-evenly">
      <p>Do not use for educational or teaching purposes from which you intend to profit. All other uses are fine.</p>
      <p>Copyright &copy; <%= Time.current.year %> | Carter Boyle</p>
  </div>
</footer>